/fragility_dataaanalysis/data/*.mat
*.mat
*eeg.csv
/fragility_dataanalysis/data/*_eeg.csv
*EEG.mat
fragility_dataanalysis/data/Seiz_Data/
*pathdef.m
*.m~
*.sh.*
*/_log/*
/fragility_dataanalysis/simulated_data/EZT*/*
/fragility_dataanalysis/simulated_data/EEG.mat
*.edf
/fragility_dataanalysis/data/*/*.mat
/fragility_dataanalysis/data/interictal_data/*/*.mat
*job0.txt
*test.out
/fragility_dataanalysis/serverdata/*
*/tempdata/*
/fragility_dataanalysis/data/*/*/*.mat
*/JHU\ Updated/*
/fragility_dataanalysis/data/JHU Updated/*
/fragility_dataanalysis/data/JHU Original/*
/fragility_dataanalysis/data/JHU Old/*
*test.out
*test.err
/Fragility\ Code/*
